@page
@model IndexModel
@using WebApplication1
@{
    ViewData["Title"] = "Home page";
    var rm = new RepoModel();
    ViewData["Commit"] = rm.getCommit()[0];
    ViewData["Branch"] = rm.GetBranches()[0];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @for(var i = 0; i < rm.GetBranches().Count; i++)
    {
        <a href="@(rm.GetBranches()[i].FriendlyName)">@(rm.GetBranches()[i].FriendlyName)</a>
    }
</div>
